@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Harmattan";
  src: url("@/assets/fonts/Harmattan-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Harmattan";
  src: url("@/assets/fonts/Harmattan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Harmattan";
  src: url("@/assets/fonts/Harmattan-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Harmattan";
  src: url("@/assets/fonts/Harmattan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Norwester";
  src: url("@/assets/fonts/norwester.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Harmattan", sans-serif;
}
